#!/usr/bin/make -f
# -*- makefile -*-

%:
	dh $@

override_dh_missing:
	dh_missing --fail-missing

override_dh_auto_build:
	help2man -s 1 ./selinux_policy_manager -N -n "SELinux policy module manager" -o selinux_policy_manager.1
